*{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.slider__item {
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.owl-dots{
    display: none;
}

a {
    color: #00bfff;
}

a:hover{
    color: #337ab7;
}

h1{
    color: #00bfff;
    font-size: 30px;
    text-transform: uppercase;
}

.block{
    position: relative;
}

.block h2{
    color: #00bfff;
    font-size: 18px;
    padding: 15px auto;
    margin: 15px auto 25px;
}

.block h2:after{
    content: "";
    display: block;
    margin-top: 10px;
    background-color: #00bfff;
    height: 2px;
    width: 40px;
    position: absolute;
}

.menu-nav{
    background: #e4f1f7;
}

.menu-nav ul{
    list-style: none;
    text-align: center;
}

.menu-nav ul > li{
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
}

.menu-nav ul > li a{
    color: #00bfff;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.menu-nav ul > li a:hover{
    color: #337ab7;
    text-decoration: none;
}

.btn{
    border: 2px solid #00bfff;
    color: #00bfff
}

.btn:hover{
    border-color: #337ab7;
    color: #337ab7;
}